<!-- gym/gym/page/gym_profile/gym_profile.html -->
<div class="profile-page">
    <h1>{{ member.member_name }}'s Profile</h1>
    <h3>Active Plan: {{ memberships[-1].name if memberships else "No Active Plan" }}</h3>
    <h3>Remaining days in subscription: {{ (memberships[-1].end_date - nowdate()).days if memberships else 0 }}</h3>
    <h3>Allocated Trainer: {{ subscriptions[-1].trainer if subscriptions else "No Trainer" }}</h3>
    
    <h3>Past Plans:</h3>
    <ul>
        {% for membership in memberships %}
            <li>{{ membership.name }} ({{ membership.start_date }} to {{ membership.end_date }})</li>
        {% endfor %}
    </ul>
</div>
